.DS_Store
Week4_1/data_set_1
Week4_1/data_set_exercise
Week4_1/validation_data_set_1
Week4_1/horse_human_model.h5
Week4_1/horse_human_model_withValidation.h5
Week4_1/validation-horse-or-human.zip
Week4_1/happy-or-sad.zip
