.DS_Store
Week4_1/data_set_1
Week4_1/data_set_exercise
Week4_1/validation_data_set_1
Week4_1/horse_human_model.h5
Week4_1/horse_human_model_withValidation.h5
Week4_1/validation-horse-or-human.zip
Week4_1/happy-or-sad.zip
Week1_2/dog_cat_classes
Week1_2/dog_cat_dataset
Week1_2/dog_cat_partial.h5
Week1_2/dog_cat_partial_dataset
Week1_2/dog_cat_train_test
Week1_2/dogs-vs-cats.zip
Week1_2/dog_cat_full.h5
Week1_2/dogs-vs-cats
Week2_2/dog_cat_full_avoid_overfit.h5
Week3_2/dog_cat_partialds_inception.h5
Week3_2/human_horse_inception.h5
Week3_2/inception_v3_weights_tf_dim_ordering_tf_kernels_notop.h5
Week3_2/log
Week3_2/log_horse_human

